@import url('http://fonts.googleapis.com/css?family=Quicksand');

body{
  font-family:'Quicksand';
  font-size:1.5em;
}
.navbar{
  background-color:#584B4F;
}

a{
  color:white !important;
}
a:hover{
  color: #71AD87 !important;
}
