@import url('http://fonts.googleapis.com/css?family=Quicksand');

body{
  font-family:'Quicksand';
}
.navbar{
  background-color:#584B4F;
  font-size:1.3em;
  opacity:0.8;
}

.navbar-brand{
  color:#71AD87 !important;
}
a{
  color:white !important;
}

a:hover{
  color: #71AD87 !important;
}

.about{
  background-color:white;
  border:1px green solid;
  text-align:center;
  margin-bottom:30px;
}

.projects{
  border:1px blue solid;
  margin-bottom:30px;
}

.projects > div:nth-child(even){
  text-align:left;
}

.projects > div:nth-child(odd){
  text-align:right;
}

.contact{
  border:1px orange solid;
  text-align:center;
  margin-bottom:30px;
}

.resume{
  border:1px black solid;
  margin-bottom:30px;
}

footer{
  text-align:center;
}
