body > div{
  background-color:rgb(35,35,35);
  color:rgb(71,74,70);
}
div > h1{
  text-align:center;
  color:gray;
}
div > h4{
  text-align:center;
}
.nav-bar > ul > li{
  list-style-type:none;
  display:inline;
}
a:link:hover{
  color:orange;
}
a:link{
  color:rgb(71,74,70);
  text-decoration:none;
}
a:visited:hover{
  color:orange;
}
a:visited{
  color:rgb(71,74,70);
}
.fa-twitter, .fa-github, .fa-linkedin {
  color:white;
}
.fa-twitter:hover, .fa-github:hover, .fa-linkedin:hover{
  color:orange;
}
.about{
  background-color:rgb(85,87,88);
  color:rgb(61,64,60);
  border-radius:30pt;
}
.about > h3{
  text-align:center;
}
.portfolio{
  color:rgb(80,192,202);
  background-color:rgb(89,95,107);
  border-radius:30pt;
}
.portfolio > ul > li{
  list-style-type:none;
  opacity:0.3;
  display:inline;
}
.portfolio > ul > li:hover{
  opacity:1;
}
.portfolio > h3{
  text-align:center;
}
.blog > ul > li{
  list-style-type:none;
}
.blog > h3{
  text-align:center;
}
